<div class="form_field {{#if disabled}}field_disabled{{/if}}">
    <label for="{{name}}" class="form_label">{{label}}</label>
    <input class="form_input" type="{{#if type}}{{type}}{{/if}}" value="{{#if value}}{{value}}{{/if}}" name={{name}}>
</div>